.about,
.motivation,
.contact-about,
.text-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  color: var(--text-color-main);
}

.about h1,
.motivation h1 {
  font-size: var(--font-size-about-h1);
  font-weight: 700;
}

.about p,
.motivation p {
  font-size: var(--font-size-about-p);
  color: var(--text-color-secondary);
  margin-bottom: 1rem;
  line-height: 1.6;
}

.about-image,
.motivation-image {
  margin-top: 0.5rem;
  min-width: 300px;
  max-width: 600px;
  width: 100%;
  border-radius: 16px;
  object-fit: contain;
  align-self: center;
}

@media (min-width: 481px) and (max-width: 639px) {
  .about,
  .motivation {
    margin-top: 2rem;
  }
}

@media (max-width: 480px) {
  :root {
    --font-size-about-h1: 1.7rem;
    --font-size-about-p: 1.1rem;
  }
}

@media (min-width: 481px) and (max-width: 639px) {
  :root {
    --font-size-about-h1: 1.8rem;
    --font-size-about-p: 1.2rem;
  }
}

@media (min-width: 640px) and (max-width: 767px) {
  :root {
    --font-size-about-h1: 1.9rem;
    --font-size-about-p: 1.3rem;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  :root {
    --font-size-about-h1: 2rem;
    --font-size-about-p: 1.4rem;
  }
}

@media (max-width: 1399px) {
  .contact-about h2 {
    display: none;
  }
  .motivation {
    margin-bottom: 40px;
  }
}

@media (min-width: 1024px) {
  :root {
    --font-size-about-h1: 2.1rem;
    --font-size-about-p: 1.5rem;
  }
}

@media (min-width: 1400px) {
  .about,
  .motivation {
    display: flex;
    flex-direction: row;
    width: 90%;
    max-width: 1600px;
    margin: auto;
  }
  .about,
  .motivation {
    padding: 40px 40px 0px 40px;
  }
  .about h1,
  .about p,
  .motivation h1,
  .motivation p {
    padding: 20px 20px 20px 20px;
  }
  .about {
    flex-direction: row-reverse;
  }
  .about {
    .text-container {
      flex: 1;
    }
  }
  .about {
    .image-container {
      flex: 1;
    }
  }
  .motivation {
    .text-container {
      flex: 1;
    }
  }
  .motivation {
    .image-container {
      flex: 1;
    }
  }
  .contact-about {
    display: flex;
  }
  .contact-about {
    .button-container {
      height: 100%;
      display: flex;
      align-items: center;
    }
  }
}

@media (min-width: 640px) and (max-width: 1399px) {
  .about,
  .motivation,
  .contact-about {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 80%;
    margin: auto;
    margin-top: 4rem;
  }

  .motivation {
    margin-bottom: 40px;
  }

  .about h1,
  .motivation h1,
  .about p,
  .motivation p {
    width: 90%;
  }
}

#about-text {
  margin-left: 5vw;
}

#motivation-text {
  margin-right: 5vw;
}

/* Animation */
.main-container {
  opacity: 0;
  transition: opacity 1.3s ease-out;

  will-change: opacity;
  backface-visibility: hidden;
}

.main-container.animate-in {
  opacity: 1;
}
