.cv-section {
  background-color: beige;
}

.study-section {
  background-color: cadetblue;
}

.certificates-section {
  background-color: burlywood;
}

.cv-divider {
  background-color: yellowgreen;
  height: 40px;
  width: 20px;
}
