.hero-section,
.services-section {
  display: flex;
  flex-direction: column;
  line-height: var(--font-line-height-hero);
  text-align: center;
  align-items: center;
}

.services-section {
  line-height: var(--font-line-height-services);
}

.hero-text {
  text-align: center;
  margin-top: 40px;
}

.services-cards {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 40px;
}

@media (max-width: 480px) {
  :root {
    --font-line-height-hero: 28px;
    --font-line-height-services: 20px;
    --font-size-hero-h1: 1rem;
    --font-size-hero-h2: 1.2rem;
    --font-size-services-h1: 1.2rem;
    --font-size-services-h2: 1rem;
    --font-size-services-h3: 0.9rem;
  }
}

@media (min-width: 481px) and (max-width: 639px) {
  :root {
    --font-line-height-hero: 32px;
    --font-line-height-services: 24px;
    --font-size-hero-h1: 1.3rem;
    --font-size-hero-h2: 1.5rem;
    --font-size-services-h1: 1.5rem;
    --font-size-services-h2: 1.3rem;
    --font-size-services-h3: 1.2rem;
  }
}

@media (min-width: 640px) and (max-width: 767px) {
  :root {
    --font-line-height-hero: 32px;
    --font-line-height-services: 24px;
    --font-size-hero-h1: 1.4rem;
    --font-size-hero-h2: 1.6rem;
    --font-size-services-h1: 1.6rem;
    --font-size-services-h2: 1.4rem;
    --font-size-services-h3: 1.3rem;
  }
}

@media (min-width: 640px) and (max-width: 1023px) {
  .hero-text,
  .services-text {
    padding-right: 60px;
    padding-left: 60px;
  }
}

@media (min-width: 480px) and (max-width: 1023px) {
  .services-card h3 {
    padding-right: 60px;
    padding-left: 60px;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  :root {
    --font-line-height-hero: 36px;
    --font-line-height-services: 28px;
    --font-size-hero-h1: 1.4rem;
    --font-size-hero-h2: 1.6rem;
    --font-size-services-h1: 1.6rem;
    --font-size-services-h2: 1.4rem;
    --font-size-services-h3: 1.3rem;
  }
}

@media (min-width: 1024px) {
  :root {
    --font-line-height-hero: 36px;
    --font-line-height-services: 28px;
    --font-size-hero-h1: 1.4rem;
    --font-size-hero-h2: 1.6rem;
    --font-size-services-h1: 1.6rem;
    --font-size-services-h2: 1.4rem;
    --font-size-services-h3: 1.3rem;
  }
  .hero-section {
    display: flex;
    flex-direction: row;
    margin-top: 100px;
    height: 450px;
    padding-left: 60px;
    padding-right: 60px;
    margin-bottom: 50px;
  }
  .hero-section img {
    align-self: center;
    max-height: 100%;
    width: auto;
    object-fit: cover;
    margin: 0 0 0 auto;
  }
  .hero-text {
    width: 90%;
    text-align: left;
    margin-top: 0px;
    padding-right: 40px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .hero-text h1 {
    margin-bottom: 0;
  }

  .hero-text h2 {
    padding-right: 200px;
    margin-top: 0;
  }
  .services-section {
    padding-left: 60px;
    padding-right: 60px;
  }
  .services-cards {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin-bottom: 40px;
  }
  .services-text h2 {
    text-align: center;
    width: 70%;
    margin: 0 auto;
    margin-bottom: 40px;
  }
  .services-card h3 {
    padding-top: 20px;
    padding-right: 60px;
    padding-left: 60px;
  }
}

.hero-text h1 {
  font-size: var(--font-size-hero-h1);
}

.hero-text h2 {
  font-size: var(--font-size-hero-h2);
}

.services-text h1 {
  font-size: var(--font-size-services-h1);
}

.services-text h2 {
  font-size: var(--font-size-services-h3);
}

.services-card h2 {
  font-size: var(--font-size-services-h2);
}

.services-card h3 {
  font-size: var(--font-size-services-h3);
}

.hero-image {
  min-width: 300px;
  max-width: 600px;
  width: 100%;
  border-radius: 12px;
  object-fit: contain;
  align-self: center;
}

.services-section {
  margin-top: 20px;
}

.services-card {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: auto auto;
  gap: 20px;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(3, 74, 166, 0.3);
  padding: 16px;
  align-items: center;
}

/* === Ungerade Karten === */
.service-image {
  grid-row: 1;
  grid-column: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.service-image img {
  min-width: 80px;
  width: 100%;
  max-width: 200px;
  max-height: 200px;
  object-fit: contain;
  border-radius: 8px;
}

.services-card h2 {
  grid-row: 1;
  grid-column: 2;
  text-align: left;
  display: flex;
  align-items: center;
}

.services-card h3 {
  grid-row: 2;
  grid-column: 1 / 3;
  text-align: center;
}

/* === Gerade Karten === */
@media (max-width: 1024px) {
  .services-card:nth-child(even) {
    grid-template-columns: 2fr 1fr;
  }

  .services-card:nth-child(even) .service-image {
    grid-column: 2;
  }

  .services-card:nth-child(even) h2 {
    grid-column: 1;
    text-align: right;
    justify-content: flex-end;
  }
}
