.hero-section {
  background-color: cadetblue;
}

.hero-text {
  background-color: rgb(135, 146, 124);
}

.services-section {
  background-color: burlywood;
}

.services-text {
  background-color: rgb(135, 146, 124);
}

.services-cards {
  background-color: rgb(145, 200, 234);
}

.services-card {
  background-color: rgb(231, 136, 136);
}
