.coaching-section {
  background-color: cadetblue;
}

.coaching-text {
  background-color: rgb(135, 146, 124);
}

.coaching-image {
  background-color: rgb(145, 200, 234);
}

.software-section {
  background-color: burlywood;
}
