.tech-section,
.soft-skills-section,
.tech-cards-section,
.soft-skills-cards-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: left;
  color: var(--text-color-main);
}

/* Sticky Scroll effect */
.tech-section .soft-skills-section {
  position: relative;
  min-height: 100vh;
}
.tech-section h1,
.soft-skills-section h1 {
  position: sticky;
  top: 0;
  z-index: 100;
  padding: 40px 0;
  margin: 0px 0 10px 0;
  width: 100%;
  display: flex;
  background-color: var(--bg-color);
}

@media (min-width: 640px) and (max-width: 1023px) {
  .tech-section,
  .soft-skills-section {
    width: 80%;
    margin: 0 auto;
  }
}

.tech-section h1,
.soft-skills-section h1 {
  justify-content: center;
  width: 110%;
  height: 110%;
  margin-top: 40px;
  font-size: var(--font-size-skills-h1);
  font-weight: 700;
  color: var(--text-color-secondary);
}

/* Scroll Animation für Cards */
.tech-card,
.soft-skills-card {
  background: var(--gradient-bg);
  border-radius: 16px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
  padding: 24px 44px;
  margin-top: 24px;
  margin-bottom: 1.5rem;

  /* Animation Anfangszustand */
  transform: scale(0.5);
  opacity: 0;
  transition: all 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

/* Animierter Zustand */
.tech-card.animate-in,
.soft-skills-card.animate-in {
  transform: scale(1);
  opacity: 1;
}

.tech-card h2,
.soft-skills-card h2 {
  font-size: var(--font-size-skills-cards-h3);
  font-weight: 600;
  margin-bottom: -20px;
}

.tech-card h3,
.soft-skills-card h3 {
  font-size: var(--font-size-skills-cards-h2);
  font-weight: 500;
  margin-bottom: 1rem;
  margin-top: 25px;
}

.tech-card p,
.soft-skills-card p {
  font-size: var(--font-size-skills-cards-p);
  color: var(--text-color-secondary);
  margin-bottom: 1rem;
}

.soft-skills-section {
  margin-bottom: 2rem;
}

@media (max-width: 480px) {
  :root {
    --font-size-skills-h1: 1.8rem;
    --font-size-skills-h2: 1.4rem;
    --font-size-skills-cards-h2: 1.4rem;
    --font-size-skills-cards-h3: 1.1rem;
    --font-size-skills-cards-p: 1rem;
  }
}

@media (min-width: 481px) and (max-width: 639px) {
  :root {
    --font-size-skills-h1: 1.9rem;
    --font-size-skills-h2: 1.5rem;
    --font-size-skills-cards-h2: 1.5rem;
    --font-size-skills-cards-h3: 1.2rem;
    --font-size-skills-cards-p: 1.1rem;
  }
}

@media (min-width: 640px) and (max-width: 767px) {
  :root {
    --font-size-skills-h1: 2rem;
    --font-size-skills-h2: 1.6rem;
    --font-size-skills-cards-h2: 1.6rem;
    --font-size-skills-cards-h3: 1.3rem;
    --font-size-skills-cards-p: 1.2rem;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  :root {
    --font-size-skills-h1: 2.1rem;
    --font-size-skills-h2: 1.7rem;
    --font-size-skills-cards-h2: 1.7rem;
    --font-size-skills-cards-h3: 1.4rem;
    --font-size-skills-cards-p: 1.3rem;
  }
}

@media (min-width: 1024px) {
  :root {
    --font-size-skills-h1: 2.2rem;
    --font-size-skills-h2: 1.8rem;
    --font-size-skills-cards-h2: 1.8rem;
    --font-size-skills-cards-h3: 1.5rem;
    --font-size-skills-cards-p: 1.4rem;
  }
  .tech-section,
  .soft-skills-section {
    width: 80%;
    margin: 0 auto;
  }

  .tech-section h1,
  .soft-skills-section h1 {
    margin-bottom: 40px;
  }

  .tech-cards-section,
  .soft-skills-cards-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 40px;
    margin-bottom: 60px;

    .tech-card,
    .soft-skills-card {
      height: 100%;
      padding: 40px 40px 0 40px;
      margin-left: 20px;
      margin-right: 20px;
      display: flex;
      flex-direction: column;
      text-align: left;
    }
  }
}
