.coaching-section {
  background-color: cadetblue;
}

.coaching-text {
  background-color: rgb(135, 146, 124);
}

.coaching-image {
  background-color: rgb(145, 200, 234);
}

.software-section {
  background-color: burlywood;
}

@media (min-width: 480px) {
  body {
    font-size: 18px;
  }
}

@media (min-width: 640px) {
  body {
    font-size: 20px;
  }
}

@media (min-width: 768px) {
  body {
    font-size: 22px;
  }
}

@media (min-width: 1024px) {
  body {
    font-size: 24px;
  }
}
